@using TobesMediaWebClient.Pages.Buttons

    <div class="flex">
        <BannerButton Text="Movies"></BannerButton>
        <BannerButton Text="Shows"></BannerButton>
        <BannerButton Text="Anime"></BannerButton>
        <input style="border:solid; border-color:gray" class="text-white border-gray-600 border-solid focus:border-white bg-transparent" />
    </div>

@code {

}
