@page "/"
@using TobesMediaCore.Data.Media;
@using TobesMediaCore.Network;
@using System.Net.Http
@inject HttpClient Http

<h3>Movies</h3>
<input @bind="SearchTerm"/>
@if (movies.List.Count == 0)
{
    <p>Loading...</p>
}
else
{
<table>
    @foreach (MediaBase movie in movies.List)
    {
        <tr>@movie.Name</tr>
        <tr><input type="image" src=@movie.PosterURL @onclick="(() => DownloadMovie(movie))"/></tr>
    }
</table>
}

@code {
    private string m_searchTerm;
    private string SearchTerm {get { return m_searchTerm; } set { m_searchTerm = value; LoadMoviesByName(); } }
    MediaBaseList movies = new MediaBaseList();

    protected override void OnInitialized()
    {
        LoadMovies();
    }

    private async void DownloadMovie(MediaBase mediaBase)
    {
        await mediaBase.DownloadMovie(Http);
    }

    private void UpdateSearch()
    {
        LoadMoviesByName();
    }

    private async void LoadMovies()
    {
        MediaBase movie = new MediaBase();
        await movie.LoadMovieAsync("tt3896198", Http);
        Console.WriteLine(movie.ID);
        movies.List.Add(movie);
        StateHasChanged();
    }

    private async void LoadMoviesByName()
    {
        movies.List.Clear();
        await movies.LoadMoviesByName(SearchTerm, Http);
        StateHasChanged();
    }
}