<button class="transition duration-500 transform hover:scale-110 focus:translate-y-8 focus:scale-110 focus:text-white px-3 py-2 bg-transparent rounded-md text-gray-600 hover:text-white ">@Text</button>

@code {
    [Parameter]
    public string Text { get; set; } = "Default";
}
